@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald:wght@300&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    background-image: url("../../../images/img-banner.jpg");
    width: 100%;
    height: 80vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactwrite {
    padding-top: 13%;
    padding-left: 12%;
}

.contactwrite h1 {
    font-size: 850%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    /* line-height: 2px; */
    letter-spacing: 5px;
}

.contactwrite p {
    color: #A1A1A1;
    font-weight: 1000;
    /* line-height: 180px; */
    /* letter-spacing: 1px; */
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

.contactwrite p+p {
    padding-top: 1%;
    color: #C68D7A;
    font-weight: 1000;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}
 