* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerbackground {
    background-image: url('../../../images/bakery.jpg');
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
}

.registerimage {
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.585);
}

.registerimage h1 {
    padding-top: 15%;
    text-align: center;
    color: white;
    font-size: 190%;
    font-family: 'Oswald', sans-serif;

}

.registertext h1 {
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #7E5A4E;
    line-height: 70px;
    letter-spacing: 2px;
}

.registertext h2 {
    font-size: 150%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #A1A1A1;
    line-height: 50px;
    letter-spacing: 1px;
}


.registerinputs {
    text-align: center;
    margin-top: 5%;
}

.forminput {
    width: 20%;
    font-size: 200%;
    text-align: center;
}

.registerbtn button {
    margin-top: 3%;
    background-color: #7E5A4E;
    padding: 0.8% 2%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 2px;
}

.registerbtn button:hover {
    color: #7E5A4E;
    border: 2px solid  #7E5A4E;
    background-color: white;
    
}

.loginforget {
    margin-top: 2%;
}

.loginforget a {
    text-decoration: none;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #A1A1A1;
    line-height: 20px;
    letter-spacing: 1px;
}

.logintext {
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #7E5A4E;
    line-height: 30px;
}

.logintext a {
    color: #A1A1A1;
    text-decoration: none;
}