@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald:wght@300;600;700&family=Poppins:wght@200;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog {
    background-image: url("../../../images/img-banner.jpg");
    width: 100%;
    height: 80vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;

}

.blogwrite {
    padding-top: 13%;
    padding-left: 12%;
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 80vh;
}

.blogwrite h1 {
    font-size: 850%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    /* line-height: 2px; */
    letter-spacing: 5px;
}

.blogwrite p {
    color: #A1A1A1;
    font-weight: 1000;
    /* line-height: 180px; */
    /* letter-spacing: 1px; */
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

.blogwrite p+p {
    padding-top: 1%;
    color: #C68D7A;
    font-weight: 1000;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

.firstdetail {
    padding-top: 5%;
    margin-left: 10%;
}

.firstdetail h1 {
    width: 55%;
    line-height: 48px;
    font-size: 300%;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-left: 5%;
}

.firstdetail img {
    width: 60%;
    margin-top: 3%;
}

.firstdetail h5 {
    width: 60%;
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
    line-height: 20px;

}

.firstdetail p {
    font-size: 90%;
    width: 65%;
    line-height: 25px;
    margin-top: 2%;
    color: #a1a1a1;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.picflex {
    display: flex;
    gap: 2%;
    width: 100%;
}

.pic {
    width: 60%;
    margin-top: 2%;
}

.pic img {
    width: 100%;
}

.info {
    margin-top: 2%;
}

.firstdetail h3 {
    display: inline-block;
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-left: 5%;
    font-size: 120%;
}

ul {
    margin-top: 1%;
    display: flex;
    gap: 2%;

}

ul li {
    list-style: none;

}

ul li:hover {
    color: #C68D7A;

}