@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald:wght@300;600;700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    background-image: url("../../../images/img-banner.jpg");
    width: 100%;
    height: 80vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;

}

.aboutwrite {
    padding-top: 13%;
    padding-left: 13%;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
    height: 80vh;
}

.about h1 {
    font-size: 800%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

}

.about span {
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 1000;
    line-height: 20px;
    letter-spacing: 5px;
}

.about p {
    font-weight: 400;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding-top: 3%;
}

.besthistory {
    text-align: center;
    margin-top: 10%;
}

.besthistory h2 {
    font-size: 210%;
    color: #7E5A4E;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2px;
}

.besthistory h6 {
    font-size: 210%;
    margin-top: 1%;
    color: #000000;
    ;
    font-family: 'Italianno', cursive;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 100%;
    letter-spacing: 30%;
}

.besthistory img {
    border-radius: 50%;
}

.besthistory p {
    width: 60%;
    margin: 0 auto;
    font-size: 75%;
    margin-top: 1%;
    color: #A1A1A1;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 25px;
    letter-spacing: 1px;
}

.besthistory p+p {
    font-size: 80%;
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    font-weight: 400;
    color: #CCCCCC;
    ;
}

.besthistory p+p+p {
    font-size: 180%;
    font-family: 'Italianno', cursive;
    line-height: 10px;
    font-weight: 400;
    color: black;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: center;
    margin-top: 7%;
}

.pastry h1 {
    font-size: 350%;
    color: #7E5A4E;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
}

.pastry p {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.accardions {
    background-image: url("../../../images//homemade.jpg");
    width: 100%;
    height: 85vh;
    margin-top: 10%;
}

.working {
    padding-top: 8%;
    text-align: center;
}

.working h2 {
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: #7E5A4E;
    font-size: 200%;
    line-height: 50px;
    letter-spacing: 2px;
}

.working h3 {
    font-size: 200%;
    margin-top: 1%;
    color: black;
    font-family: 'Italianno', cursive;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 2px;
}

.accardion {
    width: 30%;
    margin-left: 50%;
    padding-top: 1%;
}

.accardion h3 {
    line-height: 60px;
    letter-spacing: 2px;
    font-size: 150%;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

.teambackground {
    background-image: url('../../../images/bg-about.jpg');
    margin-top: 7%;
    width: 100%;
    height: 105vh;
    
}

.teamwrites {
    text-align: center;
    padding-top: 5%;
}

.teamwrites h2 {
    font-size: 210%;
    color: #7E5A4E;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2px;
}

.teamwrites h6 {
    font-size: 210%;
    margin-top: 1%;
    color: #7E5A4E;

    font-family: 'Italianno', cursive;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 100%;
    letter-spacing: 30%;
}

.teamflex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 75%;
    text-align: center;
    gap: 5%;
}

.team img {
    width: 100%;
}

.team h4 {
    margin-top: 1%;
    font-size: 90%;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 30%;
}

.team p {
    font-size: 90%;
    color: #525252;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 30%;
}